h3.welcome{
    display: inline;
    margin-left: 200px;
}

h1.welcome{
    display: inline;
    
}
h3.description{
    margin-left: 200px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.gridbox{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding: 300px;
    align-self: center;
     
}

.topic{
    margin-left: 200px;
    
}
